---
import type { QABlock, ContentBlock } from "@levitate/docs-content"
import InlineContent from "./InlineContent.astro"
import RenderBlock from "./RenderBlock.astro"

interface Props {
	block: QABlock
}

const { block } = Astro.props
---

<div class="space-y-4 mb-4">
	{
		block.items.map((item) => (
				<div class="border-l-2 border-primary/30 pl-4">
					<h4 class="font-medium text-base mb-2">
						<InlineContent content={item.question} />
					</h4>
						<div class="space-y-2 text-sm leading-relaxed">
							{item.answer.map((answerBlock: ContentBlock) => <RenderBlock block={answerBlock} />)}
						</div>
					</div>
				))
			}
</div>
