<div class="site-background" aria-hidden="true">
	<div class="site-background__wash" />
	<div class="site-background__bloom site-background__bloom--a" />
	<div class="site-background__bloom site-background__bloom--b" />
</div>
