---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div
	class="ui-panel ui-lift flex flex-col gap-3 overflow-hidden py-5 h-full text-sm"
>
	<div class="ui-divider" />
	<div class="px-5 grid gap-2 auto-rows-min items-start">
		<div class="flex items-center gap-2">
			<div class="text-primary [&_svg]:size-5">
				<slot name="icon" />
			</div>
			<div class="text-base font-medium">{title}</div>
		</div>
		<div class="text-muted-foreground">{description}</div>
	</div>
	{
		Astro.slots.has("default") && (
			<div class="px-5">
				<slot />
			</div>
		)
	}
</div>
