---
interface Props {
	question: string
	answer: string
}

const { question, answer } = Astro.props
---

<p class="text-muted-foreground text-xs/relaxed mb-2">
	"{question}"
</p>
<p class="text-foreground text-xs/relaxed mb-3">
	<strong>{answer}</strong>
</p>
